span{
    color: #037BC0;
}

header{
text-align: center;
margin: 20px;
padding: 10px;
}

.nav{
    padding: 10px;
    margin: 0;
    background-color: darkgray;
    height: 80px;    

}
.ulist{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 15px;
    padding: 25px;
}