body {
  font-family: sans-serif;
  margin: 20px;
  padding: 20px;
}

header,
footer {
  text-align: center;
  margin: 10px;
  padding: 15px;
}

span {
  color: #037bc0;
}

.h1 {
  margin: 0;
  padding: 0 0;
}
.nav-bar {
  padding: 25px;
  margin: 15px;
}

.menu.horizontal {
  list-style: none;
  padding: 30px;
  margin: 15px;
  display: flex;
  gap: 15px;
}

.menu.horizontal li {
  padding: 4rem 1rem;
}

.hero {
  background: #888;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.hero .pic {
  width: 380px;
  height: 220px;
  border-radius: 8px;
  padding-bottom: 60px;
}

.img {
  width: 160px;
  height: 100%;
}
.productos,
.categorias {
  padding: 10px;
  text-align: center;
  gap: 20px;
}
.productos-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.producto {
  border: 1px solid #ccc;
  width: 380px;
  text-align: center;
  background: white;
}
.producto img {
  background: #f2f2f2;
  height: 245px;
  align-content: center;
  align-items: center;
}
.producto-info {
  padding: 15px;
  background: #0d6efd;
  color: white;
  width: 350px;
  height: 190px;
  align-content: center;
  align-items: center;
}
.producto-info button {
  background: #a8e31f;
  border: none;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}
.categorias-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.categoria {
  text-align: center;
}
.categoria img {
  width: 150px;
  height: 100px;
  background: #888;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: 12px;
  background: #f9f9f9;
  padding-top: 20px;
}
.footer-cols {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
